            <!-- Footer -->
            <section id="footer">
                <div class="inner">
                    <h2 class="major">Contact</h2>
                    <ul class="contact">
                        <li class="fa-envelope"><a href="#">hello@todda.us</a></li>
                    </ul>
                    <ul class="copyright">
                        <li>&copy; Todd Anderson All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Scripts -->
        <script src="../assets/js/skel.min.js"></script>
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/jquery.scrollex.min.js"></script>
        <script src="../assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="../assets/js/main.js"></script>

    </body>
  </html>